* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cooper Std', sans-serif;
                                                
}


.container{
    display: flex;
    min-height: 100vh;
    

}
main{
    flex: 1;
}
.menu{
    height: 150px;
    background-color: #DF6207;
    padding: 0 70px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-text{
    font-size: 50px;
    font-weight: 600;
}
.menu .voltar-button{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
}

.models{
    display: none;
}

.cardapio{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.cardapio-item{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 1px solid #CCC;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}
.cardapio-item--img{
    background-image: url(../img/cardapio/bacon.jpg);
    background-position: center;
    background-size: cover;
    flex: 1;
    border-radius: 5px 5px 0 0;
}
.cardapio-item--text{
    flex: 1.3;
    padding: 5px;
}
.item-nome{
    font-size: 20px;
    font-weight: 600;
    color: #211415;
}
.item-desc{
    color: #9D9797;
    font-size: 12px;
}
.item-price{
    font-size: 14px;
    font-weight: 600;
    color: #CECECE;
    margin-top: 15px;
    text-align: end;
}
.item-price span{
    font-size: 18px;
    color: #32CF52;
    
}

aside{
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: #FFFDFD;
    box-shadow: 1px 1px 10px #000;
    display: flex;
    overflow: hidden;
}
.cart{
    margin: 20px;
    width: inherit;
}
.cart-title{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.cart-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CCC;
    padding: 5px 0px;
}
.cart-options img{
    width: 40px;
    height: 40px;
}
.cart-options--name{
    font-size: 17px;
}
.cart-options--button, .modal-options--button{
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #CCC;
    width: 70px;
    text-align: center;
    border-radius: 5px;
}
.cart-options--buttonMenos, .modal-options--buttonMenos{
    border-right: 1px solid #CCC;
    width: 33%;
    cursor: pointer;
    color: #000;
}
.cart-options--buttonQt, .modal-options--buttonQt{
    padding: 5px;  
    width: 33%;
    color: #000;
    text-align: center;
}
.cart-options--buttonMais, .modal-options--buttonMais{
    border-left: 1px solid #CCC;
    width: 33%;
    cursor: pointer;
    color: #000;
}
.cart-options--subtotal{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-top: 20px;
    border-bottom: 1px solid #CCC;
}
.cart-options--subtotal span{
    color: #999
}
.cart-options--desconto{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-top: 20px;
    border-bottom: 1px solid #CCC;
}
.cart-options--desconto span{
    color: #999
}
.cart-options--total{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-top: 20px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 30px;
}
.cart-options--total span{
    color: #32CF52
}
.cart-options--finallyButton, .modal-finallyButton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFF;
    background-color:  #DF6207;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
}
.cart-options--finallyButton:hover , .modal-finallyButton:hover{
    opacity: 0.7;
}



.modal{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    transition: all ease .5s;
}
.modol-box{
    display: flex;
    width: 600px;
    height: 300px;
    background-color: #FFF;
    box-shadow: 1px 1px 40PX #CCC;
    border-radius: 10px;
}
.modal-box--img{
    flex: 1;
    background-color: red;
    background-image: url(../img/cardapio/bacon.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px 0 0 10px;
}
.modal-box--text{
    flex: 1;
    margin: 10px;
}
.modal-box--textSabor{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}
.modal-box--textPreco, .modal-options{
    color: #999;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 15px;
}
.modal-box--textPreco span{
    color: #32CF52;
    font-size: 20px;
    font-weight: 600;
}
.modal-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-top: 30px;
}
.modal-cancelButton{
    color: #999;
    cursor: pointer;
}
.modal-cancelButton:hover{
    opacity: 0.7;
}
